  // @import "../../assets/scss/theme.scss";
@import "../../assets/scss/theme.scss";
.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}
.radio-toolbar label {
  display: inline-block;
  background-color: var(--#{$prefix}tertiary-bg);
  cursor: pointer;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 4px;
}
.selected-theme {
  background-color: $skyblue !important;
  border: none !important;
  color: $white !important;
}

#radio-title {
  margin-bottom: 5px;
}
